.item_detail_container {
  padding: 2em;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
}

.item_detail_img {
  width: calc(60vh - 4em);
  height: calc(60vh - 4em);
  background-color: rgb(255, 255, 255);
  border: dotted black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_detail_img img {
  height: 60%;
  transition: transform 0.2s ease-in-out;
}

.item_detail_img img:hover {
  transform: scale(1.2);
}

.txt_container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: flex-start;
}

.detail_titulo {
  font-size: 20px;
}

.detail_precio {
  font-weight: 800;
}

.txt_detail {
  padding: 1em 0 1em 0;
}

.txt_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: inherit;
}

.detail_precio {
  padding-right: 1rem;
}

#btn_terminar {
  margin-right: 0.5rem;
}
