/*.Counter {
  width: inherit;
  height: auto;
  padding: 0.5em;
}

.Counter h4 {
  font-size: 1.2rem;
}

.Counter span {
  font-size: 0.7rem;
  line-height: 1;
  padding-bottom: 1rem;
}

.container_counter {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cantidad,
.btn_restar,
.btn_sumar {
  height: 50px;
}

.btn_restar,
.btn_sumar {
  width: 50px;
}

.cantidad {
  width: 50%;
  text-align: center;
}
*/

.Counter {
  width: 280px;
  margin: 1em 1em 1em 0;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Counter span {
  font-size: 0.8rem;
}

.container_counter {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5rem;
}

#btn_restar,
#btn_sumar {
  width: 2rem;
  height: 2rem;
}
#btn_restar,
#btn_sumar,
#btn_agregar,
#btn_terminar,
#btn_counter_volver {
  background-color: rgb(166, 224, 228);
  color: white;
}

#btn_restar:disabled,
#btn_sumar:disabled,
#btn_agregar:disabled {
  background-color: rgb(191, 216, 218);
}

#btn_agregar,
#btn_terminar,
#btn_counter_volver {
  height: 2.5rem;
}

#btn_terminar,
#btn_counter_volver {
  margin-top: 0.2em;
}

.container_cantidad {
  width: 14rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 252, 252);
}

.container_counter_txt {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}
