.Counter {
  width: 280px;
  display: flex;
  flex-direction: column;
  text-align: flex;
  justify-content: flex-start;
}

.add_btns {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 2rem 0;
}

.Counter span,
#btn_agregar {
  font-size: 0.9rem;
}

#btn_sumar,
#btn_restar,
.container_counter {
  background-color: rgb(253, 253, 253);
}

.container_counter {
  width: 80px;
  height: 2.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  margin-right: 0.2rem;
}

#btn_agregar {
  padding: 0 0.9em 0 0.9em;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgba(27, 28, 29);
  transition: background-color 0.2s ease-in-out;
}

#btn_agregar:disabled {
  color: rgb(168, 168, 168);
  background-color: rgb(221, 221, 221);
}

.arrow_btns {
  display: flex;
  flex-direction: column;
}

.cantidad {
  padding-right: 2rem;
}

.btns_bottom {
  display: flex;
  flex-direction: row;
}

#btn_terminar,
#btn_counter_volver,
.btn_carrito {
  border-radius: 30px;
  padding: 0.9em 0.3em 0.9em 0.3em;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgba(27, 28, 29);
  margin: 0 0.3em 0 0.3em;
  transition: background-color 0.2s ease-in-out;
}

#btn_terminar:hover,
#btn_counter_volver:hover,
.btn_carrito:hover {
  background-color: rgb(253, 253, 253);
  color: rgba(27, 28, 29);
}
