.cart-icon {
  color: rgb(197, 197, 233);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.counter {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.cart-icon:hover {
  color: chocolate;
  text-shadow: 1px 1px 4px rgba(128, 117, 93, 0.384);
  transition-duration: 200ms;
}

.counter:hover {
  color: rgb(85, 163, 7);
}
