.NavBar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(27, 28, 29);
  height: 83px;
}

.menu_links {
  display: flex;
  align-items: center;
  height: 55px;
}

.navbar_title {
  font-size: 1.4rem;
  font-weight: 100;
}
