body {
  background-color: rgb(207, 207, 205);
}
nav {
  position: fixed;
  top: 0;
  width: calc(100vw - 1rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
}

.container_titulo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.titulo {
  font-weight: 700;
  font-size: 1.4rem;
}

.NavBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  padding-left: 1.5rem;
}

a:hover {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.212);
  transition-duration: 200ms;
}
