.MarcaNavbar {
  margin-bottom: 1em;
  position: sticky;
  top: 80px;
  z-index: 100;
  width: 100vw;
  background-color: rgba(27, 28, 29);
  box-shadow: 1px 1px 4px rgba(71, 71, 71, 0.219);
}

.segment_container {
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: center;
}

.menu_marca {
  display: flex;
  flex-direction: row;
}
