.MarcaNavbar {
  margin-top: 3em;
  margin-bottom: 1em;
  background-color: rgb(64, 235, 101);
  display: flex;
  position: sticky;
  top: 90px;
  z-index: 100;
  width: 100%;
}

.MarcaNavbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Marca_title {
  padding-right: 10rem;
  padding-left: 5rem;
}

.Marca_link {
  padding-right: 2rem;
  padding-left: 2rem;
}
